{% extends 'AppBundle::index.html.twig' %}
{% form_theme form 'AppBundle::forms/input.html.twig' %}

{% block title %}
    Edit post <q class="c-text--quiet">{{ post.title }}</q>
{% endblock %}

{% block content %}
    <div class="u-letter-box--medium">
        {{ form(form, {attr: {'novalidate': 'novalidate'}}) }}
    </div>
{% endblock %}