<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image CMS Notes</title>
    <link rel="stylesheet" href="https://unpkg.com/blaze">
    <link rel="stylesheet" href="https://unpkg.com/blaze/dist/blaze.colors.min.css">
</head>

<body class="c-text">
<main class="o-grid o-grid--no-gutter o-panel">
    <div class="o-grid__cell--width-15 o-panel-container">
        {{ include('AppBundle::navs/posts_nav.html.twig') }}
    </div>
    <div class="o-grid__cell--width-85 o-panel-container">
        {{ include("AppBundle::navs/main_nav.html.twig") }}
        <div class="o-panel o-panel--nav-top u-pillar-box--large u-letter-box--large">

            <h1 class="c-heading u-window-box--none">
                {% block title %}Image CMS Notes{% endblock title %}
            </h1>

            {% set flashMessages = app.session.flashbag.get('msg') %}
            {% if flashMessages %}
                <div class="c-alert c-alert--error">
                    {% for flashMessage in flashMessages %}
                        {{ flashMessage }}
                    {% endfor %}
                </div>
            {% endif %}


            {% block content %}
                <p class="c-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio nulla quia
                    repellendus saepe
                    tempore unde voluptas. Culpa distinctio ea est fugiat iure, magnam nam, necessitatibus nihil odit,
                    quidem unde velit.
                </p>
            {% endblock %}

        </div>
    </div>
</main>

</body>

</html>