{% block form_row %}
    <div class="form_row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {attr: {rows: '12', cols: '60'}}) }}
    </div>
{% endblock form_row %}