{% block form_row %}
    <div class="form_row">
        <div>
            {{ form_label(form) }}
        </div>
        <div>
            {{ form_errors(form) }}
        </div>
        <div>
            {{ form_widget(form, {attr: {rows: '12', cols: '60'}}) }}
        </div>
    </div>
{% endblock form_row %}