{% block form_row %}
    <div class="o-form-element">
        {{ form_label(form, null, {label_attr: {class: "c-label"}}) }}
        {{ form_widget(form, {attr: {rows: '12', cols: '60', class: "c-field"}}) }}
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}