{% if messages %}
    {% for key, types in messages %}
        <div class=" u-letter-box--large">
            <div class="c-alert c-alert--{{ key }}">
                {% for value in types %}
                    {{ value }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}