<nav class="c-nav c-nav--inline">
    <a class="c-nav__item" href="{{ path("homepage") }}">Home</a>
    <a class="c-nav__item" href="{{ path("posts") }}">Posts</a>
    <a class="c-nav__item c-nav__item--right" href="{{ path("post_create") }}">Create Post</a>
</nav>