<nav class="c-nav c-nav--light o-panel">
    <div class="c-nav__content u-bg-brand u-color-white">Imagenote Docs</div>
    <ul class="c-tree u-pillar-box--medium u-letter-box--large">
        <li class="c-tree__item c-tree__item--expandable u-letter-box--xsmall"><a class="c-link" href="#">Directory
                1</a></li>
        <li class="c-tree__item c-tree__item--expandable u-letter-box--xsmall"><a class="c-link" href="#">Directory
                2</a></li>
        <li class="c-tree__item c-tree__item--expanded u-letter-box--xsmall"><a class="c-link" href="#">Directory 3</a>
            <ul class="c-tree">
                <li class="c-tree__item">File 1</li>
                <li class="c-tree__item">File 2</li>
                <li class="c-tree__item">File 3</li>
                <li class="c-tree__item">File 4</li>
            </ul>
        <li class="c-tree__item c-tree__item--expandable u-letter-box--xsmall"><a class="c-link" href="#">Directory
                4</a></li>
        <li class="c-tree__item c-tree__item--expanded u-letter-box--xsmall"><a class="c-link" href="#">Directory 5</a>
            <ul class="c-tree">
                <li class="c-tree__item c-text--quiet">(empty)</li>
            </ul>
        </li>
    </ul>
</nav>